
/* font-family: "Azeret Mono", monospace; */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navigation section */

.nav-container{
    margin: 50px 150px 30px 50px;
}

.nav-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul li{
    list-style: none;
}

.nav-content1{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

.nav-content2{
    box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
}

                   /* hero section */

.hero-container{
    background-image: url(assets/Hero-bg.png) ;
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background: size 100%;   
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 150px;
}

.hero-content img{ 
    width: 240px;
    height: 240px; 
    margin-bottom: 30px;  
}

.hero-content h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

.hero-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    padding:0px 100px;
}

.hero-content a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 20px;
    text-decoration: none;
}

/* web-development section */

.web-development{
    margin:0 auto;
    width: 1140px;
    height: 1200px;
    margin-top: 60px;
    padding: 80px 97px;
    border-radius: 16px;
    background:rgba(13, 19, 33, 0.07);
    margin-bottom: 60px;
}

.webdev-container{
    padding:0;
}
.webdev-tittle{
    text-align: center;
    padding-bottom: 48px;
}
.webdev-tittle h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 30px;
}

.webdev-tittle p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 300;
}

/* primary-anchor tag learn more */

.primary-anr{
    box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    text-decoration: none;
    box-sizing: border-box;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.webdev-content1{
display: flex;
padding: 48px;
gap: 60px;
}

.webdev-content2{
    display:flex;
}



.content-text1{
    display: flex;
    flex-direction: column;
    justify-content:right;
    align-items:flex-start;
    padding: 0px;
}




.content-text1 h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    padding-bottom:20px;
}

.content-text1 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding-bottom:20px;
}

.img1{
    width: 259.56px;
    height: 217.01px;
    left: 0.36%;
    right: -0.36%;
    top: 1.74%;
    bottom: -1.74%;
    }


    .content-text2{    
        display: flex;
        flex-direction:column;
        justify-content:right;
        align-items:flex-start;
        padding: 10px 50px 20px 50px;
    }

    .content-text2 h3{
        color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    padding-bottom:20px;
    }

    .content-text2 p{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        padding-bottom:20px;
    }


    /* inspiration section */

.inspiration{
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ins-text{
    width: 852px;
    height: 115px;
    margin: 0px 100px 50px 100px;
}

.ins-text h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
}

.ins-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 48px;
    text-align: center;
}

.ins-video{
    border-radius:20px;
    margin: 0 auto;
}


/* skills section */

.skill-container{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 50px;
}


.anchor-style{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 800;
    text-decoration-line: underline;
    display: block;
}

.skill-tittle h1{
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 30px;
}

.skill-tittle p{
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding: 0px 90px 40px 90px;
    
}

.skills{
    width: 1140px;
    height: 300px;
    display: flex;
    justify-content:space-evenly;
    gap: 20px;

}

.skill-text-style h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.skill-text-style p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 20px;
}

.skill1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    width: 33%;
}
.skill2{
    border-radius: 16px;
    background:rgba(0, 76, 232, 0.05);
    padding: 40px;
    width: 33%;
}
.skill3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    width: 33%;
}


/* future skills section*/

.f-skills-container{
    width: 1140px;
    height: 871px;
    margin: 0 auto;
    margin-top: 90px;
}

.f-skills-tittle h1{ 
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
}

.f-skills-tittle p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin:0px 144px 50px 144px ;

}

.p-language1{
    display: flex;
    border: 2px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-bottom: 20px;
}
.p-language2{
    display: flex;
    border: 2px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);padding: 40px;
    margin-bottom: 20px;
}
.p-language3{
    display: flex;
    border: 2px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);padding: 40px;
    margin-bottom: 20px;
}

.p-language-text-style{ 
    padding-left: 30px;
    
}

.p-language-text-style h3{
color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
padding-bottom: 10px;
}

.p-language-text-style p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
padding-bottom: 30px;
opacity: 0.7;
}

/* support section */

.support-container{
    width: 1140px;
    height: 314px;
    border-radius: 16px;
    background-image: url(assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    margin:0 auto;
    padding: 64px 48px;
    background-color:rgba(0, 0, 0, 0.5);
    background-blend-mode:darken;
    margin-bottom: 50px;
}

.support-content{
    width: 1044px;
    height: 186px;
}

.support-content h1{   
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 30px;
}

.support-content p{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 300;
    opacity: 0.7;
    text-align: center;
    padding-bottom: 90px;
}

.support-area{
    padding-left: 165px;
    height: 58px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 80px;   
    
}

.support-textarea{
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    resize: none;
    overflow: hidden;
}

.submitbtn{
    width: 120px;
    height: 58px;padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}
::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.footer-container{
    width: 1440px;
    height: 100px;
    padding: 32px 150px 32px 150px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin:0 auto;
}
